* {
    font-family:
    "PingFang TC" !important;
  }
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Noto+Sans+TC:wght@400;500;700&display=swap");

  :root {
    --font-en: "Inter", sans-serif;
  
    --font-zh:
      "PingFang TC",
      "Noto Sans TC",
      "Microsoft JhengHei",
      sans-serif;
  }
  html[lang="zh"] {

    h1,
    h2,
    .hero-title,
    .nav,
    .nav-menu,
    .project-info h2,
    .footer h2 {
      font-family: var(--font-en);
    }
  
    p,
    span,
    div,
    h3,
    h4,
    li,
    button,
    .exp-main,
    .skill-list,
    .work-title {
      font-family: var(--font-zh);
    }
  }
  html[lang="en"] {

    h1,
    h2,
    h3,
    h4,
    p,
    span,
    div,
    li,
    button {
      font-family: var(--font-en);
    }
  }
html,
body {
  background: #fff;
  color: #000;
  font-family: var(--font-en), var(--font-tc);
}

.nav-logo {

    font-size: 24px;
  
    font-weight: 600;
  
    letter-spacing: 0.08em;
  }
.nav {

    height: 40px;
  
    display: flex;
  
    justify-content: space-between;
  
    align-items: center;
  
    padding: 0 20px;
  
    background: #fff;
  
    border-bottom: 1px solid #000;
  
    font-family: "Inter";
  
    font-size: 14px;
  
    letter-spacing: 0.08em;
  
    position: sticky;
  
    top: 0;
  
    z-index: 999;
  }
  .nav-links {

    display: flex;
  
    gap: 70px;
  
    align-items: center;
  }
  .nav-links a {

    position: relative;
  
    color: #000;
  
    text-decoration: none;
  
    display: flex;
  
    align-items: center;
  
    gap: 12px;
  
    transition: .3s ease;
  }
  .nav-links a::before {

    content: "";
  
    width: 14px;
  
    height: 14px;
  
    border: 1px solid #000;
  
    transition: .3s ease;
  }
  .nav-links a:hover::before {

    background: #000;
  }
  #langBtn {

    background: transparent;
  
    border: none;
  
    color: #000;
  
    font-family: "Inter";
  
    font-size: 14px;
  
    letter-spacing: .08em;
  
    cursor: pointer;
  
    transition: .3s ease;
  }
  #langBtn:hover {

    opacity: .5;
  }
img {
  display: block;
  width: 100%;
}

.page-grid {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 999;

}



.hero {
    position: relative;
    height: 800px;
    background: #fff;
    color: #000;
    overflow: hidden;

  h1 {
    font-size: 130pt;
    font-weight: 500;
    line-height: .85;
    text-align: center;
    letter-spacing: .04em;
    margin-top: 2px;
  }
}
     .hero-grid {
        position: absolute;
        inset: 0;
        pointer-events: none;
        z-index: 0;
      
        background-image:
          linear-gradient(to right, #000 1px, transparent 1px),
          linear-gradient(to right, #000 1px, transparent 1px),
          linear-gradient(to right, #000 1px, transparent 1px),
          linear-gradient(to right, #000 1px, transparent 1px),
          linear-gradient(to right, #000 1px, transparent 1px);
      
        background-size:
          1px 100%,
          1px 100%,
          1px 100%,
          1px 100%,
          1px 100%;
      
        background-position:
          24px 0,
          12.5% 0,
          27% 0,
          74% 0,
          calc(100% - 24px) 0;
      
        background-repeat:
          no-repeat,
          no-repeat,
          no-repeat,
          no-repeat,
          no-repeat;
      }
  /* 到黑底區請套 .grid-on-dark，就會變白線 */
  .grid-on-dark {
    background-image:
      linear-gradient(to right, #fff 1px, transparent 1px),
      linear-gradient(to right, #fff 1px, transparent 1px),
      linear-gradient(to right, #fff 1px, transparent 1px),
      linear-gradient(to right, #fff 1px, transparent 1px),
      linear-gradient(to right, #fff 1px, transparent 1px);
  }
  
  .hero-top-lines {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    z-index: 2;
  
    span {
      display: block;
      width: 100%;
      background: #000;
    }
  
   
    span:nth-child(1) {
        height: 7px;
        margin-bottom: 42px;
      }
    
      span:nth-child(2) {
        height: 3px;
        margin-bottom: 34px;
      }
    
      span:nth-child(3) {
        height: 2px;
      }
  }
  
  .hero-title {
    position: absolute;
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  
    font-family: "Inter", sans-serif;
    font-size: 200pt;
    font-weight: 500;
    line-height: 0.75;
    letter-spacing: 0.03em;
    white-space: nowrap;
  }
  
  .hero-quote {
    position: absolute;
    top: 275px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  
    font-family: "Inter", sans-serif;
    font-size: 20pt;
    font-weight: 400;
    letter-spacing: 0.03em;
    white-space: nowrap;
  }
  
  .hero-title-lines {
    position: absolute;
    top: 292px;
    left: 0;
    width: 100%;
    z-index: 1;
  
    span {
      display: block;
      width: 100%;
      background: #000;
    }
  
    span:nth-child(1) {
      height: 7px;
      margin-bottom: 42px;
    }
  
    span:nth-child(2) {
      height: 3px;
      margin-bottom: 34px;
    }
  
    span:nth-child(3) {
      height: 2px;
    }
  }
  
  .hero-meta {
    position: absolute;
    top: 350px;
    left: 34.5%;
    right: 25%;
    z-index: 2;
  
    display: flex;
    justify-content: space-between;
  opacity: 0.5;
    font-family: "Inter", sans-serif;
    font-size: 12pt;
    font-weight: 400;
  }
  
  .floating-cube {
    position: fixed;
    left: 50%;
    top: 58%;
    width: 420px;
    height: 420px;
    transform: translate(-50%, -50%);
    z-index: 20;
    pointer-events: auto;
    cursor: grab;
    overflow: visible;
  }
  
  .floating-cube canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
  }
  .hero-bottom-meta {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom:150px;
    z-index: 2;
  
    display: flex;
    justify-content: space-between;
  
    font-family: "Inter", sans-serif;
    font-size: 16pt;
    font-weight: 700;
  }
 
.line-group {
  width: 100%;

  span {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}

.line-group.black span {
  background: #000;
}

.line-group.white span {
  background: #fff;
}

.line-group span:nth-child(1) {
    height: 7px;
    margin-bottom: 42px;
}

.line-group span:nth-child(2) {
    height: 3px;
    margin-bottom: 34px;
}

.line-group span:nth-child(3) {
    height: 2px;
}

/* ABOUT */

.about {
  position: relative;
  min-height: 1800px;
  background: #000;
  color: #fff;
  padding-top: 48px;
}

.about-intro {
  display: grid;
  grid-template-columns: 25% 25%;
  gap: 50%;
  padding: 0 25px 42px;
  font-size: 14pt;

  h3 {
    font-size: 28pt;
    font-weight: 400;
    margin-bottom: 12px;
  }

  p {
    font-family: "Noto Sans TC", "PingFang TC";
    font-size: 14pt;
    line-height: 1.45;
    font-weight: 200;
  }
}

.about-role {
  font-size: 28pt;
  line-height: 1.8;
  gap: 50%;
  padding: 30px 0 0;
  margin-left: 78px;
  text-align: right;
}

.about h2,
.skill h2,
.projects h2 {
  font-size: 120pt;
  font-weight: 400;
  line-height: .7;
}

.about h2 {
  padding-left: 30px;
  margin-bottom: 0px;
}

.work-title {
  padding: 32px 26px 0;
  border-bottom: 1px solid #fff;
  font-family: "Noto Sans TC", "PingFang TC";
  font-size: 14pt;
}

.experience {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  row-gap: 44px;
  padding: 48px 26px;
  font-size: 14pt;
  line-height: 1.6;

  h4 {
    font-size: 14pt;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  p {
    font-family: "Noto Sans TC", "PingFang TC";
    font-size: 14pt;
    font-weight: 300;
    margin-left: 20px;
  }
  p2{
    margin-left: 250px;
    text-align: right;
  }
}
.experience:hover {
    background: #fff;
    color: #000;
}
.about-photo {
  position: absolute;
  left: 26.7%;
  bottom: 2px;
  width: 200px;
  margin-top: 30px;
  filter: grayscale(1);
}

.cube-about {
  right: 18%;
  bottom: 230px;
}

/* SKILL */

.skill {
  position: relative;
  min-height: 800px;
  background: #000;
  color: #fff;
  padding-top: 20px;
  
}

.skill h2 {
  text-align: center;
  margin-left: 440px;
  margin-bottom: 0px;
  
}

.skill-sub {
  position: absolute;
  right: 8px;
  top: 20px;
  text-align: right;
  font-size: 20pt;
  margin-right: 18px;
margin-top: 170px;
}

.skill-content {
  position: relative;
  min-height: 380px;
}

.cube-skill {
  left: 17%;
  top: 120px;
}

.skill-list {
  position: absolute;
  left: 13%;
  top: 82px;
  width: 61%;
  font-size: 14pt;
  min-height: 200px;

  div {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom: 18px;
  }
  p{
    
    margin-top: 0px;
    text-align: right;
  }
}
.skill-list:hover{
    background: #fff;
    color: #000;
}
/* PROJECTS */

.projects {
  background: #000;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 80px;
}

.projects-head {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: end;
  padding: 0 8px 12px;

  div {
    font-size: 18pt;
    line-height: 1.1;
    margin-bottom: 0px;
    margin-left: 20px;

  }

  h2 {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 15px;
  }
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 48px 24px 0;
}

.project-grid article {
  font-size: 14pt;

  img {
    height: 300px;
    width: 400px;
    background-color: #343434;
    object-fit: cover;
    margin-bottom: 22px;
    padding: 10px;
  }

  span {
    display: block;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 18pt;
    font-weight: 400;
    margin-bottom: 12px;
  }

  p {
    font-family: "Noto Sans TC", "PingFang TC";
    line-height: 1.5;
    font-weight: 200;
  }
}

/* GRAPHIC */

.graphic {
  position: relative;
  background: #fff;
  color: #000;
  min-height: 1900px;
  padding-top: 56px;
}

.graphic h2 {
  font-size: 128pt;
  font-weight: 500;
  line-height: .88;
  padding-left: 24px;
  margin-bottom: 0px;
}

.graphic-sub {
  position: absolute;
  right: 22px;
  top: 382px;
  text-align: right;
  font-size: 20pt;
  line-height: 1.1;
}

.graphic-grid {
  position: relative;
  min-height: 2000px;
  padding-top: 80px;
}

.graphic article {
  position: absolute;
  font-size: 14pt;

  img {
    margin-bottom: 14px;
  }

  h3 {
    font-size: 20pt;
    font-weight: 500;
    margin-bottom: 8px;
  }

  p {
    font-family: "Noto Sans TC", "PingFang TC";
    line-height: 1.35;
  }
}

.g1 {
  left: 24px;
  top: 80px;
  width: 580px;
}

.cube-graphic-1 {
  right: 24%;
  top: 210px;
}

.g2 {
  right: 24px;
  top: 500px;
  width: 300px;
  text-align: right;
}

.g3 {
  left: 27%;
  top: 1150px;
  width: 330px;
}

.cube-graphic-2 {
  left: 14%;
  top: 1060px;
}

.g4 {
  right: 24px;
  top: 1530px;
  width: 430px;
  text-align: right;
  margin-bottom: 100px;
}

/* FOOTER */

.footer {
  position: relative;
  min-height: 480px;
  background: #fff;
  color: #000;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 44px 8px;
  font-size: 14pt;

  h4 {
    font-weight: 500;
    margin-bottom: 0px;
  }

  p {
    margin-bottom: 0px;
    font-size: 12pt;
  }

  h2 {
    position: absolute;
    right: 8px;
   margin-bottom: 0px;
    font-size: 130pt;
    font-weight: 500;
    margin-top: 300px;
 
  }
  
}

/* reveal */

.reveal {
  opacity: 0;
  transform: translateY(70px);
}